.u-section-1 {
  background-image: url("images/Degree_CoECS_DataScienceMS_Hero.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 11px 308px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.2;
  margin: 13px 308px 0;
}

.u-section-1 .u-image-1 {
  width: 235px;
  height: 235px;
  background-image: url("images/16152983065701.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0 453px;
}

.u-section-1 .u-social-icons-1 {
  height: 43px;
  min-height: 16px;
  width: 149px;
  min-width: 68px;
  margin: 13px auto 24px 496px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(92, 107, 192) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 119, 183) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-left: 208px;
    margin-right: 208px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 208px;
    margin-right: 208px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 12px;
    margin-left: 353px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 525px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 525px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 11px;
    margin-left: auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3.4375rem;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 20px;
    margin-bottom: 39px;
  }
}.u-section-2 {
  background-image: linear-gradient(#f5f7fa, #ccd3db);
}

.u-section-2 .u-sheet-1 {
  min-height: 601px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 225px;
  margin: 52px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -11px;
  margin-bottom: 52px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 32px;
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 424px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 27px 60px 11px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 26px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 19px 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 15px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 9px;
  }
}.u-section-3 {
  background-image: linear-gradient(#ccd3db, #555c66);
}

.u-section-3 .u-sheet-1 {
  min-height: 577px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 631px;
  margin: 13px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 47px;
  margin-bottom: 44px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);
  min-height: 407px;
  grid-gap: 24px 24px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 20px;
}

.u-section-3 .u-icon-1 {
  height: 96px;
  width: 96px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 13px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 18px 20px;
}

.u-section-3 .u-icon-2 {
  height: 96px;
  width: 96px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 13px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 18px 20px;
}

.u-section-3 .u-icon-3 {
  height: 96px;
  width: 96px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 13px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-4 {
  padding: 18px 20px;
}

.u-section-3 .u-icon-4 {
  height: 96px;
  width: 96px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 18px));
    min-height: 312px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}.u-section-4 {
  background-image: linear-gradient(#555c66, #292e33);
}

.u-section-4 .u-sheet-1 {
  min-height: 1208px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 62px;
  margin-bottom: 50px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 29.5px) calc(50% - 29.5px);
  min-height: 969px;
  grid-gap: 59px 59px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 0 16px 0 20px;
}

.u-section-4 .u-image-1 {
  width: 183px;
  height: 183px;
  background-image: url("images/tlchargement1.png");
  background-position: 14.48% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -33px auto 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 8px 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 0 15px 0 11px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-style: italic;
  font-weight: normal;
  margin: 11px 15px 0 11px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  padding-right: 15px;
  padding-left: 14px;
  margin: 11px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 0 16px 0 20px;
}

.u-section-4 .u-image-2 {
  width: 183px;
  height: 183px;
  background-image: url("images/Capturedcran2021-08-12163750.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -33px auto 0;
}

.u-section-4 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 8px 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 0 15px 0 11px;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-style: italic;
  font-weight: normal;
  margin: 11px 15px 0 11px;
}

.u-section-4 .u-btn-2 {
  padding-right: 15px;
  padding-left: 14px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 0 16px 0 20px;
}

.u-section-4 .u-image-3 {
  width: 183px;
  height: 183px;
  background-image: url("images/Capturedcran2021-08-12161651.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -33px auto 0;
}

.u-section-4 .u-text-8 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 8px 20px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 0 15px 0 11px;
}

.u-section-4 .u-text-10 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-style: italic;
  font-weight: normal;
  margin: 11px 15px 0 11px;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 15px;
  padding-left: 14px;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-4 {
  padding: 0 16px 0 20px;
}

.u-section-4 .u-image-4 {
  width: 183px;
  height: 183px;
  background-image: url("images/7c9c906426.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -33px auto 0;
}

.u-section-4 .u-text-11 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 8px 20px 0 0;
}

.u-section-4 .u-text-12 {
  margin: 0 15px 0 11px;
}

.u-section-4 .u-text-13 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-style: italic;
  font-weight: normal;
  margin: 11px 15px 0 11px;
}

.u-section-4 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 15px;
  padding-left: 14px;
  background-image: none;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1329px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 90px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 70px;
    margin-bottom: 44px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    grid-gap: 50px 50px;
    min-height: 1059px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    width: 265px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
    width: 265px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    border-style: solid;
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.125rem;
    width: 265px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    border-style: none;
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.125rem;
    width: 265px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    border-style: none;
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-8 {
    margin-right: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 31.5px) calc(50% - 31.5px);
  }

  .u-section-4 .u-text-8 {
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 14px;
    margin-left: -14px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 14px;
    margin-left: -14px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }
}